{% extends "base/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-secondary text-white text-center">
                <h2>Author Details</h2>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> {{ author.name }}</p>
                <h3 class="mt-4">Books</h3>
                <ul class="list-group">
                    {% for book in author.books %}
                        <li class="list-group-item">
                            <a href="{{ url_for('book_details', book_id=book.id) }}" class="text-decoration-none text-primary">
                                {{ book.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
